<form [formGroup]="loginForm" (ngSubmit)="loginUser()" >
    <p-card header="login" [style]="{width:'360px'}">
        <div class="feild">
            <label for="email">Email</label>
            <input type="text" pInputText formControlName="email" class="w-full"name="email" placeholder="Email Here"/>

            <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                <div *ngIf="email.errors?.['required']"> Email Required</div>
                <div *ngIf="email.errors?.['email']"> Email should be valid</div>
            </small>

        </div><br>

        <div class="feild">
            <label for="Password">Password</label>
            <input 
            type="password" 
            pInputText 
            formControlName="password"
            class="w-full"
            name="password"
            placeholder="password Here"
             />

            <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
                <div *ngIf="password.errors?.['required']"> Password Required</div>
                <div *ngIf="password.errors?.['password']"> Password should be valid</div>
            </small>
        </div><br>

        <p-button label="Sign In" styleClass="w-full" [disabled]="loginForm.invalid" type="submit"></p-button>
        <div class="mt-2">
            Create a new ID <br>
            <a routerLink="/register">Register</a>
        </div>
    </p-card>
</form>